body {
    line-height: 120%;
    margin: 25px;
    width: 42rem;
    margin: auto;
    margin-top: .75rem;
    margin-bottom: .75rem;
}

header, h1 {
    text-align: center;
}

hr {
    margin-top: 1rem;
}

ul {
    list-style-type: none;
}

ul, li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.gray {
    color: rgb(156, 163, 175);
}

.black {
    color: rgb(0, 0, 0);
}

code {
    font-size: 120%;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 10px;
}
